<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body onload="isHidden()">
    <script type="text/javascript">
      function isHidden() {
        navigate = document.getElementsByName('btn')[0]

        if (navigate.value == "Login"){
          let label = document.getElementsByName('label')[0]
          let pass2 = document.getElementsByName('pass2')[0]

          label.style.display  = "none"
          pass2.style.display  = "none"

        }
          console.log("hello");
      }
    </script>

    <h1>{{title}}</h1>
    {% if error %}
      <h2 class = "alert alert-danger">{{ error }}</h2>
    {% endif %}
    <form class="form-control form" action="{% url navigate %}" method="post">
  {% csrf_token %}
      <label for="username">Username:</label>
       <input type="text" name="username" required>

       <label for="pass1"></label>
      Password: <input type="password" name="pass1" required>

      <label for="pass2" name = "label">Confirm Password:</label>
       <input type="password" name="pass2">

      <button type="submit" class="btn btn-primary" name="btn" value={{navigate}}>{{navigate}}</button>
    </form>

  </body>
</html>
