#logout:hover{
  cursor: pointer;
}

h1{
  text-align: center;
}

.container{
  margin: auto;
}

.card{
  border: 2px solid black;
}

.center{
  margin: auto;
  width: 74%;
  padding: 20px;
}

section{
  margin: 5%;
}
