#logout:hover{
  cursor: pointer;
}

h1{
  text-align: center;
}

.container-fluid{
  margin: auto;
}

.card-img-top{
  height: 200px;
  width: 200px;
}

.card{
  margin: 20px;
  border: 1px solid black;
}

.center{
  margin: auto;
  width: 74%;
  padding: 20px;
}
