
  body{
    background-color: rgb(221, 240, 248) !important;
    /* background-image: url(C:\\Users\\kedar\\Downloads\\Untitles.svg) !important; */
  }
  h2{
    text-align: center;
    margin: 4%;
    font-family: 'Patua One', cursive;
    color:rgb(51, 51, 51);
  }


  p{
    text-align: left;
  }
  .img-fluid{
    width:80% ;
    height:80%;
  }
  .btn{
    margin-right: 2rem;
  }
section{
    margin: 5%;
  }
