/* This file is base css which is also for other files eg: navbar */
#logout:hover{
  cursor: pointer;
}

/* .navbar{
  background-color: #867AE9 !important;
} */
p{
  text-align: left;
}
.img-fluid{
  width:80% ;
  height:80%;
}
.row{
  margin: 6%;
}
