div.card{
  width: min(500px,75rem);
  height: 30rem;
}

.center{
  width: 50%;
  margin: auto;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px grey;
  padding: 1.3%;
}
.center-btn{
  width: 50%;
  margin: auto;
  padding: 1.5%;
}
label{
  margin-bottom: 10px;
}
